nifi/flows/postgres_cdc.json
{
  "encodingVersion": { "majorVersion": 2, "minorVersion": 0 },
  "externalControllerServices": {},
  "parameterContexts": {
    "postgres-cdc-params": {
      "componentType": "PARAMETER_CONTEXT",
      "description": "PostgreSQL CDC parameters — values injected per environment",
      "identifier": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "postgres-cdc-params",
      "parameterProviders": {},
      "parameters": [
        { "name": "postgres_host",          "sensitive": false, "value": "" },
        { "name": "postgres_port",          "sensitive": false, "value": "5432" },
        { "name": "postgres_database",      "sensitive": false, "value": "" },
        { "name": "postgres_username",      "sensitive": false, "value": "" },
        { "name": "postgres_password",      "sensitive": true,  "value": "" },
        { "name": "postgres_slot_name",     "sensitive": false, "value": "" },
        { "name": "postgres_publication",   "sensitive": false, "value": "openflow_pub" },
        { "name": "snowflake_account",      "sensitive": false, "value": "" },
        { "name": "snowflake_database",     "sensitive": false, "value": "" },
        { "name": "snowflake_schema",       "sensitive": false, "value": "POSTGRES_CDC" },
        { "name": "snowflake_warehouse",    "sensitive": false, "value": "" },
        { "name": "snowflake_username",     "sensitive": false, "value": "" },
        { "name": "snowflake_password",     "sensitive": true,  "value": "" },
        { "name": "s3_staging_bucket",      "sensitive": false, "value": "" },
        { "name": "s3_region",              "sensitive": false, "value": "eu-west-2" }
      ]
    }
  },
  "flowContents": {
    "componentType": "PROCESS_GROUP",
    "identifier": "b2c3d4e5-0002-0002-0002-000000000010",
    "instanceIdentifier": "b2c3d4e5-0002-0002-0002-000000000010",
    "name": "PostgreSQL CDC",
    "comments": "Captures WAL changes from RDS Postgres (customers, orders) and streams them into Snowflake via S3",
    "position": { "x": 0.0, "y": 0.0 },
    "parameterContextName": "postgres-cdc-params",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultFlowFileExpiration": "0 sec",
    "variables": {},
    "remoteProcessGroups": [],
    "labels": [],
    "funnels": [],
    "connections": [
      {
        "componentType": "CONNECTION",
        "identifier": "conn-cdc-001",
        "source": { "id": "proc-cdc-capture", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "destination": { "id": "proc-cdc-route", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": ["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-cdc-002",
        "source": { "id": "proc-cdc-route", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "destination": { "id": "proc-cdc-update-attr", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "selectedRelationships": ["customers", "orders"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-cdc-003",
        "source": { "id": "proc-cdc-update-attr", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "destination": { "id": "proc-cdc-convert", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-cdc-004",
        "source": { "id": "proc-cdc-convert", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "destination": { "id": "proc-cdc-merge", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-cdc-005",
        "source": { "id": "proc-cdc-merge", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "destination": { "id": "proc-cdc-s3", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "selectedRelationships": ["merged"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-cdc-006",
        "source": { "id": "proc-cdc-s3", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "destination": { "id": "proc-cdc-copy-raw", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-cdc-007",
        "source": { "id": "proc-cdc-copy-raw", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "destination": { "id": "proc-cdc-merge-upsert", "type": "PROCESSOR", "groupId": "b2c3d4e5-0002-0002-0002-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "cs-cdc-json-reader",
        "name": "JsonTreeReader - CDC",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-record-serialization-services-nar", "version": "2.0.0" },
        "properties": {
          "schema-access-strategy": "infer-schema",
          "date-format": "yyyy-MM-dd",
          "time-format": "HH:mm:ss",
          "timestamp-format": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      },
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "cs-cdc-json-writer",
        "name": "JsonRecordSetWriter - CDC",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-record-serialization-services-nar", "version": "2.0.0" },
        "properties": {
          "schema-write-strategy": "no-schema",
          "output-grouping": "output-array",
          "compression-format": "none"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      },
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "cs-cdc-dbcp-snowflake",
        "name": "SnowflakeDBCPConnectionPool - CDC",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-dbcp-service-nar", "version": "2.0.0" },
        "properties": {
          "Database Connection URL": "jdbc:snowflake://#{snowflake_account}.snowflakecomputing.com/?db=#{snowflake_database}&schema=RAW&warehouse=#{snowflake_warehouse}",
          "Database Driver Class Name": "net.snowflake.client.jdbc.SnowflakeDriver",
          "database-driver-locations": "/opt/nifi/nifi-current/lib/custom/snowflake-jdbc.jar",
          "Database User": "#{snowflake_username}",
          "Password": "#{snowflake_password}",
          "Max Wait Time": "500 millis",
          "Max Total Connections": "8",
          "Validation query": "SELECT 1"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      }
    ],
    "processGroups": [],
    "processors": [
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-cdc-capture",
        "name": "CaptureChangePostgreSQL",
        "type": "org.apache.nifi.processors.cdc.postgresql.CaptureChangePostgreSQL",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-cdc-postgresql-nar", "version": "2.0.0" },
        "position": { "x": 100.0, "y": 300.0 },
        "properties": {
          "PostgreSQL Connection Host": "#{postgres_host}",
          "PostgreSQL Connection Port": "#{postgres_port}",
          "PostgreSQL DB Name": "#{postgres_database}",
          "PostgreSQL Username": "#{postgres_username}",
          "PostgreSQL Password": "#{postgres_password}",
          "Replication Slot Name": "#{postgres_slot_name}",
          "Publication Name": "#{postgres_publication}",
          "Output Format": "JSON",
          "Include Begin Transaction": "false",
          "Include Commit Transaction": "false",
          "SSL Mode": "require",
          "Status Interval": "10 secs",
          "Max Flush Size": "10000"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "1 sec",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "3 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-cdc-route",
        "name": "RouteOnAttribute - Table Router",
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 400.0, "y": 300.0 },
        "properties": {
          "Routing Strategy": "Route to 'matched' if all match",
          "customers": "${cdc.table:equals('customers')}",
          "orders": "${cdc.table:equals('orders')}"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": ["unmatched"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-cdc-update-attr",
        "name": "UpdateAttribute - Add CDC Metadata",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-update-attribute-nar", "version": "2.0.0" },
        "position": { "x": 700.0, "y": 300.0 },
        "properties": {
          "cdc.loaded_at": "${now():toNumber()}",
          "s3.prefix": "staged/postgres_cdc/${cdc.table}/${now():format('yyyy/MM/dd')}",
          "target.table.raw": "PG_${cdc.table:toUpper()}_RAW"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": [],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-cdc-convert",
        "name": "ConvertRecord - CDC JSON normalise",
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 1000.0, "y": 300.0 },
        "properties": {
          "record-reader": "cs-cdc-json-reader",
          "record-writer": "cs-cdc-json-writer"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": ["failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-cdc-merge",
        "name": "MergeRecord - CDC Batch",
        "type": "org.apache.nifi.processors.standard.MergeRecord",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 1300.0, "y": 300.0 },
        "properties": {
          "record-reader": "cs-cdc-json-reader",
          "record-writer": "cs-cdc-json-writer",
          "merge-strategy": "Bin-Packing Algorithm",
          "Minimum Number of Records": "100",
          "Maximum Number of Records": "10000",
          "Max Bin Age": "30 sec",
          "Maximum Number of Bins": "10",
          "Merge Criterion": "${cdc.table}"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["original", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-cdc-s3",
        "name": "PutS3Object - CDC Stage",
        "type": "org.apache.nifi.processors.aws.s3.PutS3Object",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-aws-nar", "version": "2.0.0" },
        "position": { "x": 1600.0, "y": 300.0 },
        "properties": {
          "Bucket": "#{s3_staging_bucket}",
          "Object Key": "${s3.prefix}/${uuid()}.json",
          "Region": "#{s3_region}",
          "Use Path Style Access": "false",
          "Server Side Encryption": "AES256",
          "Storage Class": "STANDARD"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": ["failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-cdc-copy-raw",
        "name": "ExecuteSQL - COPY INTO RAW",
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 1900.0, "y": 300.0 },
        "properties": {
          "Database Connection Pooling Service": "cs-cdc-dbcp-snowflake",
          "SQL select query": "COPY INTO #{snowflake_database}.RAW.${target.table.raw} (_raw_json, _cdc_operation, _cdc_timestamp, _source_file, _batch_id) FROM (SELECT $1, $1:operation::VARCHAR, $1:transaction_timestamp::TIMESTAMP_NTZ, METADATA$FILENAME, '${s3.key}' FROM @#{snowflake_database}.RAW.OPENFLOW_S3_STAGE/${s3.prefix}/) FILE_FORMAT=(TYPE=JSON STRIP_OUTER_ARRAY=TRUE) ON_ERROR='CONTINUE' PURGE=FALSE",
          "Max Wait Time": "0 millis",
          "Output Batch Size": "0",
          "Fetch Size": "0",
          "Max Rows Per Flow File": "0"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-cdc-merge-upsert",
        "name": "ExecuteSQL - MERGE INTO Target Table",
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 2200.0, "y": 300.0 },
        "properties": {
          "Database Connection Pooling Service": "cs-cdc-dbcp-snowflake",
          "SQL select query": "CALL #{snowflake_database}.POSTGRES_CDC.MERGE_CDC_BATCH('${cdc.table}', '${cdc.loaded_at}')",
          "Max Wait Time": "0 millis",
          "Output Batch Size": "0",
          "Fetch Size": "0",
          "Max Rows Per Flow File": "0"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      }
    ]
  }
}
