nifi/flows/postgres_cdc.json
{
  "encodingVersion": {
    "majorVersion": 2,
    "minorVersion": 0
  },
  "externalControllerServices": {},
  "parameterContexts": {
    "postgres-cdc-params": {
      "componentType": "PARAMETER_CONTEXT",
      "description": "PostgreSQL polling-CDC parameters \u00e2\u20ac\u201d values injected per environment",
      "identifier": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "postgres-cdc-params",
      "parameterProviders": {},
      "parameters": [
        {
          "name": "postgres_host",
          "sensitive": false,
          "value": ""
        },
        {
          "name": "postgres_port",
          "sensitive": false,
          "value": "5432"
        },
        {
          "name": "postgres_database",
          "sensitive": false,
          "value": ""
        },
        {
          "name": "postgres_username",
          "sensitive": false,
          "value": ""
        },
        {
          "name": "postgres_password",
          "sensitive": true,
          "value": ""
        },
        {
          "name": "postgres_poll_interval",
          "sensitive": false,
          "value": "60 sec"
        },
        {
          "name": "snowflake_account",
          "sensitive": false,
          "value": ""
        },
        {
          "name": "snowflake_database",
          "sensitive": false,
          "value": ""
        },
        {
          "name": "snowflake_schema",
          "sensitive": false,
          "value": "POSTGRES_CDC"
        },
        {
          "name": "snowflake_warehouse",
          "sensitive": false,
          "value": ""
        },
        {
          "name": "snowflake_username",
          "sensitive": false,
          "value": ""
        },
        {
          "name": "snowflake_password",
          "sensitive": true,
          "value": ""
        },
        {
          "name": "s3_staging_bucket",
          "sensitive": false,
          "value": ""
        },
        {
          "name": "s3_region",
          "sensitive": false,
          "value": "eu-west-2"
        }
      ]
    }
  },
  "flowContents": {
    "componentType": "PROCESS_GROUP",
    "identifier": "b2c3d4e5-0002-0002-0002-000000000010",
    "instanceIdentifier": "b2c3d4e5-0002-0002-0002-000000000010",
    "name": "PostgreSQL CDC",
    "comments": "Polls RDS Postgres (customers, orders) for changed rows via updated_at and streams them into Snowflake via S3. Requires updated_at column on source tables. DELETEs not captured \u00e2\u20ac\u201d use soft-delete (is_deleted flag) on the source if needed.",
    "position": {
      "x": 0.0,
      "y": 0.0
    },
    "parameterContextName": "postgres-cdc-params",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultFlowFileExpiration": "0 sec",
    "variables": {},
    "remoteProcessGroups": [],
    "labels": [],
    "funnels": [],
    "connections": [
      {
        "componentType": "CONNECTION",
        "identifier": "0001b2c3-d4e5-cdc0-0003-000000000001",
        "source": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000001",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "destination": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000003",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "0001b2c3-d4e5-cdc0-0003-000000000002",
        "source": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000002",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "destination": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000003",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "0001b2c3-d4e5-cdc0-0003-000000000003",
        "source": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000003",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "destination": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000004",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "0001b2c3-d4e5-cdc0-0003-000000000004",
        "source": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000004",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "destination": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000005",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "0001b2c3-d4e5-cdc0-0003-000000000005",
        "source": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000005",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "destination": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000006",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "selectedRelationships": [
          "merged"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "0001b2c3-d4e5-cdc0-0003-000000000006",
        "source": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000006",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "destination": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000007",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "0001b2c3-d4e5-cdc0-0003-000000000007",
        "source": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000007",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "destination": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000008",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "0001b2c3-d4e5-cdc0-0003-000000000008",
        "source": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000008",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "destination": {
          "id": "0001b2c3-d4e5-cdc0-0002-000000000009",
          "type": "PROCESSOR",
          "groupId": "b2c3d4e5-0002-0002-0002-000000000010"
        },
        "selectedRelationships": [
          "success",
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "0001b2c3-d4e5-cdc0-0001-000000000001",
        "name": "JsonTreeReader - CDC",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.0.0"
        },
        "properties": {
          "schema-access-strategy": "infer-schema"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      },
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "0001b2c3-d4e5-cdc0-0001-000000000002",
        "name": "JsonRecordSetWriter - CDC",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.0.0"
        },
        "properties": {
          "output-grouping": "output-array",
          "compression-format": "none"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      },
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "0001b2c3-d4e5-cdc0-0001-000000000003",
        "name": "PostgresDBCPConnectionPool - CDC",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Database Connection URL": "jdbc:postgresql://#{postgres_host}:#{postgres_port}/#{postgres_database}?sslmode=require",
          "Database Driver Class Name": "org.postgresql.Driver",
          "database-driver-locations": "/opt/nifi/nifi-current/lib/custom/postgresql.jar",
          "Database User": "#{postgres_username}",
          "Password": "#{postgres_password}",
          "Max Wait Time": "500 millis",
          "Max Total Connections": "8",
          "Validation query": "SELECT 1"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      },
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "0001b2c3-d4e5-cdc0-0001-000000000004",
        "name": "SnowflakeDBCPConnectionPool - CDC",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Database Connection URL": "jdbc:snowflake://#{snowflake_account}.snowflakecomputing.com/?db=#{snowflake_database}&schema=RAW&warehouse=#{snowflake_warehouse}",
          "Database Driver Class Name": "net.snowflake.client.jdbc.SnowflakeDriver",
          "database-driver-locations": "https://repo1.maven.org/maven2/net/snowflake/snowflake-jdbc/3.22.1/snowflake-jdbc-3.22.1.jar",
          "Database User": "#{snowflake_username}",
          "Password": "#{snowflake_password}",
          "Max Wait Time": "500 millis",
          "Max Total Connections": "8",
          "Validation query": "SELECT 1"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      }
    ],
    "processGroups": [],
    "processors": [
      {
        "componentType": "PROCESSOR",
        "identifier": "0001b2c3-d4e5-cdc0-0002-000000000001",
        "name": "QueryDatabaseTableRecord - customers",
        "type": "org.apache.nifi.processors.standard.QueryDatabaseTableRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "position": {
          "x": 100.0,
          "y": 200.0
        },
        "properties": {
          "Database Connection Pooling Service": "0001b2c3-d4e5-cdc0-0001-000000000003",
          "db-type": "PostgreSQL",
          "Table Name": "customers",
          "Maximum-value Columns": "updated_at",
          "record-writer": "0001b2c3-d4e5-cdc0-0001-000000000002",
          "Fetch Size": "10000",
          "Max Rows Per Flow File": "50000",
          "Output Batch Size": "0"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "#{postgres_poll_interval}",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "10 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "0001b2c3-d4e5-cdc0-0002-000000000002",
        "name": "QueryDatabaseTableRecord - orders",
        "type": "org.apache.nifi.processors.standard.QueryDatabaseTableRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "position": {
          "x": 100.0,
          "y": 500.0
        },
        "properties": {
          "Database Connection Pooling Service": "0001b2c3-d4e5-cdc0-0001-000000000003",
          "db-type": "PostgreSQL",
          "Table Name": "orders",
          "Maximum-value Columns": "updated_at",
          "record-writer": "0001b2c3-d4e5-cdc0-0001-000000000002",
          "Fetch Size": "10000",
          "Max Rows Per Flow File": "50000",
          "Output Batch Size": "0"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "#{postgres_poll_interval}",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "10 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "0001b2c3-d4e5-cdc0-0002-000000000003",
        "name": "UpdateAttribute - Add CDC Metadata",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.0.0"
        },
        "position": {
          "x": 500.0,
          "y": 350.0
        },
        "properties": {
          "cdc.table": "${querydbtable.tableName}",
          "cdc.loaded_at": "${now():toNumber()}",
          "s3.prefix": "postgres_cdc/${querydbtable.tableName}/${now():format('yyyy/MM/dd')}",
          "target.table.raw": "PG_${querydbtable.tableName:toUpper()}_RAW"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": [],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "0001b2c3-d4e5-cdc0-0002-000000000004",
        "name": "ConvertRecord - CDC JSON normalise",
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "position": {
          "x": 900.0,
          "y": 350.0
        },
        "properties": {
          "record-reader": "0001b2c3-d4e5-cdc0-0001-000000000001",
          "record-writer": "0001b2c3-d4e5-cdc0-0001-000000000002"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "0001b2c3-d4e5-cdc0-0002-000000000005",
        "name": "MergeRecord - CDC Batch",
        "type": "org.apache.nifi.processors.standard.MergeRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "position": {
          "x": 1300.0,
          "y": 350.0
        },
        "properties": {
          "record-reader": "0001b2c3-d4e5-cdc0-0001-000000000001",
          "record-writer": "0001b2c3-d4e5-cdc0-0001-000000000002",
          "merge-strategy": "Bin-Packing Algorithm",
          "min-records": "100",
          "max-records": "10000",
          "max-bin-count": "10",
          "correlation-attribute-name": "cdc.table"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original",
          "failure"
        ],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "0001b2c3-d4e5-cdc0-0002-000000000006",
        "name": "PutS3Object - CDC Stage",
        "type": "org.apache.nifi.processors.aws.s3.PutS3Object",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-aws-nar",
          "version": "2.0.0"
        },
        "position": {
          "x": 1700.0,
          "y": 350.0
        },
        "properties": {
          "Bucket": "#{s3_staging_bucket}",
          "Object Key": "${s3.prefix}/${uuid()}.json",
          "Region": "#{s3_region}",
          "Use Path Style Access": "false",
          "Server Side Encryption": "AES256",
          "Storage Class": "Standard"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "0001b2c3-d4e5-cdc0-0002-000000000007",
        "name": "ExecuteSQL - COPY INTO RAW",
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "position": {
          "x": 2100.0,
          "y": 350.0
        },
        "properties": {
          "Database Connection Pooling Service": "0001b2c3-d4e5-cdc0-0001-000000000004",
          "SQL select query": "COPY INTO #{snowflake_database}.RAW.${target.table.raw} (_raw_json, _cdc_operation, _cdc_timestamp, _source_file, _batch_id) FROM (SELECT $1, 'UPSERT', CURRENT_TIMESTAMP(), METADATA$FILENAME, '${s3.key}' FROM @#{snowflake_database}.RAW.OPENFLOW_S3_STAGE/${s3.prefix}/) FILE_FORMAT=(TYPE=JSON STRIP_OUTER_ARRAY=TRUE) ON_ERROR='CONTINUE' PURGE=FALSE",
          "Max Wait Time": "0 millis",
          "Output Batch Size": "0",
          "Fetch Size": "0",
          "Max Rows Per Flow File": "0"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "0001b2c3-d4e5-cdc0-0002-000000000008",
        "name": "ExecuteSQL - MERGE INTO CUSTOMERS",
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "position": {
          "x": 2500.0,
          "y": 200.0
        },
        "properties": {
          "Database Connection Pooling Service": "0001b2c3-d4e5-cdc0-0001-000000000004",
          "SQL select query": "MERGE INTO #{snowflake_database}.POSTGRES_CDC.CUSTOMERS AS tgt USING (SELECT _raw_json:id::INTEGER AS ID, _raw_json:first_name::VARCHAR(100) AS FIRST_NAME, _raw_json:last_name::VARCHAR(100) AS LAST_NAME, _raw_json:email::VARCHAR(255) AS EMAIL, _raw_json:phone::VARCHAR(50) AS PHONE, _raw_json:status::VARCHAR(20) AS STATUS, _raw_json:created_at::TIMESTAMP_NTZ AS CREATED_AT, _raw_json:updated_at::TIMESTAMP_NTZ AS UPDATED_AT, _cdc_operation, _cdc_timestamp, _batch_id FROM #{snowflake_database}.RAW.PG_CUSTOMERS_RAW) AS src ON tgt.ID = src.ID WHEN MATCHED THEN UPDATE SET tgt.FIRST_NAME=src.FIRST_NAME, tgt.LAST_NAME=src.LAST_NAME, tgt.EMAIL=src.EMAIL, tgt.PHONE=src.PHONE, tgt.STATUS=src.STATUS, tgt.UPDATED_AT=src.UPDATED_AT, tgt._CDC_OPERATION=src._CDC_OPERATION, tgt._CDC_TIMESTAMP=src._CDC_TIMESTAMP, tgt._ETL_LOADED_AT=CURRENT_TIMESTAMP(), tgt._ETL_BATCH_ID=src._BATCH_ID WHEN NOT MATCHED THEN INSERT (ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE,STATUS,CREATED_AT,UPDATED_AT,_CDC_OPERATION,_CDC_TIMESTAMP,_ETL_LOADED_AT,_ETL_BATCH_ID) VALUES (src.ID,src.FIRST_NAME,src.LAST_NAME,src.EMAIL,src.PHONE,src.STATUS,src.CREATED_AT,src.UPDATED_AT,src._CDC_OPERATION,src._CDC_TIMESTAMP,CURRENT_TIMESTAMP(),src._BATCH_ID)",
          "Max Wait Time": "0 millis",
          "Output Batch Size": "0",
          "Fetch Size": "0",
          "Max Rows Per Flow File": "0"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "0001b2c3-d4e5-cdc0-0002-000000000009",
        "name": "ExecuteSQL - MERGE INTO ORDERS",
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "position": {
          "x": 2500.0,
          "y": 500.0
        },
        "properties": {
          "Database Connection Pooling Service": "0001b2c3-d4e5-cdc0-0001-000000000004",
          "SQL select query": "MERGE INTO #{snowflake_database}.POSTGRES_CDC.ORDERS AS tgt USING (SELECT _raw_json:id::INTEGER AS ID, _raw_json:customer_id::INTEGER AS CUSTOMER_ID, _raw_json:order_date::DATE AS ORDER_DATE, _raw_json:status::VARCHAR(30) AS STATUS, _raw_json:total_amount::NUMBER(12,2) AS TOTAL_AMOUNT, _raw_json:currency::VARCHAR(3) AS CURRENCY, _raw_json:created_at::TIMESTAMP_NTZ AS CREATED_AT, _raw_json:updated_at::TIMESTAMP_NTZ AS UPDATED_AT, _cdc_operation, _cdc_timestamp, _batch_id FROM #{snowflake_database}.RAW.PG_ORDERS_RAW) AS src ON tgt.ID = src.ID WHEN MATCHED THEN UPDATE SET tgt.CUSTOMER_ID=src.CUSTOMER_ID, tgt.STATUS=src.STATUS, tgt.TOTAL_AMOUNT=src.TOTAL_AMOUNT, tgt.UPDATED_AT=src.UPDATED_AT, tgt._CDC_OPERATION=src._CDC_OPERATION, tgt._CDC_TIMESTAMP=src._CDC_TIMESTAMP, tgt._ETL_LOADED_AT=CURRENT_TIMESTAMP(), tgt._ETL_BATCH_ID=src._BATCH_ID WHEN NOT MATCHED THEN INSERT (ID,CUSTOMER_ID,ORDER_DATE,STATUS,TOTAL_AMOUNT,CURRENCY,CREATED_AT,UPDATED_AT,_CDC_OPERATION,_CDC_TIMESTAMP,_ETL_LOADED_AT,_ETL_BATCH_ID) VALUES (src.ID,src.CUSTOMER_ID,src.ORDER_DATE,src.STATUS,src.TOTAL_AMOUNT,src.CURRENCY,src.CREATED_AT,src.UPDATED_AT,src._CDC_OPERATION,src._CDC_TIMESTAMP,CURRENT_TIMESTAMP(),src._BATCH_ID)",
          "Max Wait Time": "0 millis",
          "Output Batch Size": "0",
          "Fetch Size": "0",
          "Max Rows Per Flow File": "0"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      }
    ]
  }
}