nifi/flows/salesforce_ingestion.json
{
  "encodingVersion": { "majorVersion": 2, "minorVersion": 0 },
  "externalControllerServices": {},
  "parameterContexts": {
    "salesforce-ingestion-params": {
      "componentType": "PARAMETER_CONTEXT",
      "description": "Salesforce ingestion parameters — values injected per environment",
      "identifier": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "salesforce-ingestion-params",
      "parameterProviders": {},
      "parameters": [
        { "name": "salesforce_instance_url",    "sensitive": false, "value": "" },
        { "name": "salesforce_client_id",       "sensitive": true,  "value": "" },
        { "name": "salesforce_client_secret",   "sensitive": true,  "value": "" },
        { "name": "salesforce_api_version",     "sensitive": false, "value": "59.0" },
        { "name": "snowflake_account",          "sensitive": false, "value": "" },
        { "name": "snowflake_database",         "sensitive": false, "value": "" },
        { "name": "snowflake_schema",           "sensitive": false, "value": "RAW" },
        { "name": "snowflake_warehouse",        "sensitive": false, "value": "" },
        { "name": "snowflake_username",         "sensitive": false, "value": "" },
        { "name": "snowflake_password",         "sensitive": true,  "value": "" },
        { "name": "s3_staging_bucket",          "sensitive": false, "value": "" },
        { "name": "s3_region",                  "sensitive": false, "value": "eu-west-2" },
        { "name": "batch_id_attribute",         "sensitive": false, "value": "${now():toNumber()}" }
      ]
    }
  },
  "flowContents": {
    "componentType": "PROCESS_GROUP",
    "identifier": "a1b2c3d4-0001-0001-0001-000000000010",
    "instanceIdentifier": "a1b2c3d4-0001-0001-0001-000000000010",
    "name": "Salesforce Ingestion",
    "comments": "Ingests Account and Contact objects from Salesforce REST API into Snowflake via S3 staging",
    "position": { "x": 0.0, "y": 0.0 },
    "parameterContextName": "salesforce-ingestion-params",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultFlowFileExpiration": "0 sec",
    "variables": {},
    "remoteProcessGroups": [],
    "labels": [],
    "funnels": [],
    "connections": [
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-001",
        "name": "",
        "source": { "id": "proc-sf-query-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-split-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": ["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-002",
        "source": { "id": "proc-sf-split-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-convert-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["split"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-003",
        "source": { "id": "proc-sf-convert-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-merge-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-004",
        "source": { "id": "proc-sf-merge-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-s3-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["merged"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-005",
        "source": { "id": "proc-sf-s3-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-copy-accounts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-006",
        "source": { "id": "proc-sf-query-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-split-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-007",
        "source": { "id": "proc-sf-split-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-convert-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["split"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-008",
        "source": { "id": "proc-sf-convert-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-merge-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-009",
        "source": { "id": "proc-sf-merge-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-s3-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["merged"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "componentType": "CONNECTION",
        "identifier": "conn-sf-010",
        "source": { "id": "proc-sf-s3-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "destination": { "id": "proc-sf-copy-contacts", "type": "PROCESSOR", "groupId": "a1b2c3d4-0001-0001-0001-000000000010" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "labelIndex": 1,
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "cs-sf-json-reader",
        "name": "JsonTreeReader",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-record-serialization-services-nar", "version": "2.0.0" },
        "properties": {
          "schema-access-strategy": "infer-schema",
          "date-format": "yyyy-MM-dd",
          "time-format": "HH:mm:ss",
          "timestamp-format": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      },
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "cs-sf-json-writer",
        "name": "JsonRecordSetWriter",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-record-serialization-services-nar", "version": "2.0.0" },
        "properties": {
          "schema-write-strategy": "no-schema",
          "output-grouping": "output-array",
          "compression-format": "none"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      },
      {
        "componentType": "CONTROLLER_SERVICE",
        "identifier": "cs-sf-dbcp-snowflake",
        "name": "SnowflakeDBCPConnectionPool",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-dbcp-service-nar", "version": "2.0.0" },
        "properties": {
          "Database Connection URL": "jdbc:snowflake://#{snowflake_account}.snowflakecomputing.com/?db=#{snowflake_database}&schema=#{snowflake_schema}&warehouse=#{snowflake_warehouse}",
          "Database Driver Class Name": "net.snowflake.client.jdbc.SnowflakeDriver",
          "database-driver-locations": "/opt/nifi/nifi-current/lib/custom/snowflake-jdbc.jar",
          "Database User": "#{snowflake_username}",
          "Password": "#{snowflake_password}",
          "Max Wait Time": "500 millis",
          "Max Total Connections": "8",
          "Validation query": "SELECT 1"
        },
        "propertyDescriptors": {},
        "scheduledState": "ENABLED",
        "annotationData": ""
      }
    ],
    "processGroups": [],
    "processors": [
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-query-accounts",
        "name": "QuerySalesforceObject - Account",
        "type": "org.apache.nifi.processors.salesforce.QuerySalesforceObject",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-salesforce-nar", "version": "2.0.0" },
        "position": { "x": 100.0, "y": 100.0 },
        "properties": {
          "salesforce-instance-url": "#{salesforce_instance_url}",
          "salesforce-version": "#{salesforce_api_version}",
          "salesforce-client-id": "#{salesforce_client_id}",
          "salesforce-client-secret": "#{salesforce_client_secret}",
          "salesforce-object-type": "Account",
          "salesforce-soql-query": "SELECT Id,Name,Industry,AnnualRevenue,BillingCity,BillingCountry,Phone,Website,NumberOfEmployees,OwnerId,CreatedDate,LastModifiedDate,IsDeleted FROM Account ORDER BY LastModifiedDate ASC",
          "salesforce-include-deleted": "false",
          "salesforce-output-format": "JSON"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "1 hour",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["No Results", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-split-accounts",
        "name": "SplitJson - Account Records",
        "type": "org.apache.nifi.processors.standard.SplitJson",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 400.0, "y": 100.0 },
        "properties": {
          "JsonPath Expression": "$.records",
          "Null Value Representation": "empty string"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": ["original", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-convert-accounts",
        "name": "ConvertRecord - Account JSON→JSON (normalise)",
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 700.0, "y": 100.0 },
        "properties": {
          "record-reader": "cs-sf-json-reader",
          "record-writer": "cs-sf-json-writer"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": ["failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-merge-accounts",
        "name": "MergeRecord - Account Batch",
        "type": "org.apache.nifi.processors.standard.MergeRecord",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 1000.0, "y": 100.0 },
        "properties": {
          "record-reader": "cs-sf-json-reader",
          "record-writer": "cs-sf-json-writer",
          "merge-strategy": "Bin-Packing Algorithm",
          "Minimum Number of Records": "1000",
          "Maximum Number of Records": "50000",
          "Max Bin Age": "5 min",
          "Maximum Number of Bins": "5"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["original", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-s3-accounts",
        "name": "PutS3Object - Account Stage",
        "type": "org.apache.nifi.processors.aws.s3.PutS3Object",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-aws-nar", "version": "2.0.0" },
        "position": { "x": 1300.0, "y": 100.0 },
        "properties": {
          "Bucket": "#{s3_staging_bucket}",
          "Object Key": "staged/salesforce/accounts/${now():format('yyyy/MM/dd')}/${uuid()}.json",
          "Region": "#{s3_region}",
          "Use Path Style Access": "false",
          "Server Side Encryption": "AES256",
          "Storage Class": "STANDARD"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": ["failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-copy-accounts",
        "name": "ExecuteSQL - COPY INTO SF_ACCOUNTS_RAW",
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 1600.0, "y": 100.0 },
        "properties": {
          "Database Connection Pooling Service": "cs-sf-dbcp-snowflake",
          "SQL select query": "COPY INTO #{snowflake_database}.RAW.SF_ACCOUNTS_RAW (_raw_json, _source_file, _batch_id) FROM (SELECT $1, METADATA$FILENAME, '${s3.key}' FROM @#{snowflake_database}.RAW.OPENFLOW_S3_STAGE/staged/salesforce/accounts/) FILE_FORMAT=(TYPE=JSON STRIP_OUTER_ARRAY=TRUE) ON_ERROR='CONTINUE' PURGE=FALSE",
          "Max Wait Time": "0 millis",
          "Output Batch Size": "0",
          "Fetch Size": "0",
          "Max Rows Per Flow File": "0"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-query-contacts",
        "name": "QuerySalesforceObject - Contact",
        "type": "org.apache.nifi.processors.salesforce.QuerySalesforceObject",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-salesforce-nar", "version": "2.0.0" },
        "position": { "x": 100.0, "y": 400.0 },
        "properties": {
          "salesforce-instance-url": "#{salesforce_instance_url}",
          "salesforce-version": "#{salesforce_api_version}",
          "salesforce-client-id": "#{salesforce_client_id}",
          "salesforce-client-secret": "#{salesforce_client_secret}",
          "salesforce-object-type": "Contact",
          "salesforce-soql-query": "SELECT Id,AccountId,FirstName,LastName,Email,Phone,Title,Department,LeadSource,OwnerId,CreatedDate,LastModifiedDate,IsDeleted FROM Contact ORDER BY LastModifiedDate ASC",
          "salesforce-include-deleted": "false",
          "salesforce-output-format": "JSON"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "1 hour",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["No Results", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-split-contacts",
        "name": "SplitJson - Contact Records",
        "type": "org.apache.nifi.processors.standard.SplitJson",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 400.0, "y": 400.0 },
        "properties": {
          "JsonPath Expression": "$.records",
          "Null Value Representation": "empty string"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": ["original", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-convert-contacts",
        "name": "ConvertRecord - Contact JSON→JSON",
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 700.0, "y": 400.0 },
        "properties": {
          "record-reader": "cs-sf-json-reader",
          "record-writer": "cs-sf-json-writer"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": ["failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-merge-contacts",
        "name": "MergeRecord - Contact Batch",
        "type": "org.apache.nifi.processors.standard.MergeRecord",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 1000.0, "y": 400.0 },
        "properties": {
          "record-reader": "cs-sf-json-reader",
          "record-writer": "cs-sf-json-writer",
          "merge-strategy": "Bin-Packing Algorithm",
          "Minimum Number of Records": "1000",
          "Maximum Number of Records": "50000",
          "Max Bin Age": "5 min",
          "Maximum Number of Bins": "5"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["original", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-s3-contacts",
        "name": "PutS3Object - Contact Stage",
        "type": "org.apache.nifi.processors.aws.s3.PutS3Object",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-aws-nar", "version": "2.0.0" },
        "position": { "x": 1300.0, "y": 400.0 },
        "properties": {
          "Bucket": "#{s3_staging_bucket}",
          "Object Key": "staged/salesforce/contacts/${now():format('yyyy/MM/dd')}/${uuid()}.json",
          "Region": "#{s3_region}",
          "Use Path Style Access": "false",
          "Server Side Encryption": "AES256",
          "Storage Class": "STANDARD"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 4,
        "autoTerminatedRelationships": ["failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "componentType": "PROCESSOR",
        "identifier": "proc-sf-copy-contacts",
        "name": "ExecuteSQL - COPY INTO SF_CONTACTS_RAW",
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.0.0" },
        "position": { "x": 1600.0, "y": 400.0 },
        "properties": {
          "Database Connection Pooling Service": "cs-sf-dbcp-snowflake",
          "SQL select query": "COPY INTO #{snowflake_database}.RAW.SF_CONTACTS_RAW (_raw_json, _source_file, _batch_id) FROM (SELECT $1, METADATA$FILENAME, '${s3.key}' FROM @#{snowflake_database}.RAW.OPENFLOW_S3_STAGE/staged/salesforce/contacts/) FILE_FORMAT=(TYPE=JSON STRIP_OUTER_ARRAY=TRUE) ON_ERROR='CONTINUE' PURGE=FALSE",
          "Max Wait Time": "0 millis",
          "Output Batch Size": "0",
          "Fetch Size": "0",
          "Max Rows Per Flow File": "0"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingStrategy": "TIMER_DRIVEN",
        "schedulingPeriod": "0 sec",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "retriedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      }
    ]
  }
}
